#container {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 2em;
  font-weight: bold;
}
button {
  font-size: 1.5rem;
  padding: 10px 15px;
  border-radius: 10px;
  border: none;
  background-color: rgba(53, 53, 199, 0.956);
  color: rgb(255, 255, 255);
  cursor: pointer;
}
button:hover {
  background-color: rgb(57, 117, 30);
}
button:active {
  background-color: rgb(39, 23, 81);
}
input {
  font-size: 2rem;
  width: 150px;
  text-align: center;
  font-weight: bold;
}
#diceResult {
  margin: 25px;
}
#diceImages img {
  width: 150px;
  margin: 5px;
}
