body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(201, 196, 196);
}
#myH1 {
  font-size: 4rem;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}
#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 5px solid;
  padding: 30px;
  border-radius: 50px;
  background-color: white;
}
#display {
  font-size: 5rem;
  font-family: monospace;
  font-weight: bold;
  color: rgb(39, 109, 169);
  text-shadow: 2px 2px 2px rgb(0, 0, 0);
}
#contoles button {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px 20px;
  min-width: 125px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: white;
}
#startBtn {
  background-color: rgb(13, 13, 84);
}
#stopBtn {
  background-color: chocolate;
}
#resetBtn {
  background-color: rebeccapurple;
}
